<div class="side-menu">
  <div class="first-section">
    <div class="header">
      <div class="company">
        <div class="logo">
          <div class="top">
            <div class="rec-1">

            </div>
            <div class="rec-2">

            </div>
          </div>
          <div class="bottom">
            <div class="rec-3">

            </div>
            <div class="rec-4">

            </div>
          </div>
        </div>
        <div class="name">
          <p>Company</p>
        </div>
      </div>
      <div class="hamburger">
        <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
      </div>
    </div>
    <div class="user">
      <div class="user-name">
        <p>Jan Kowalski</p>
      </div>
      <div class="user-email">
        <p>jan.kowalski&#64;mail.com</p>
      </div>
      <div class="user-pic">
        <img src="./assets/images/user.jpeg" />
      </div>
    </div>
  </div>
  <div class="second-section">
    <div class="title">
      <p>Panel administracyjny</p>
    </div>

    <div class="menu">
      <div class="menu-item" routerLinkActive="active" routerLink="/users">
        <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon> Użytkownicy
      </div>
      <div class="menu-item" routerLinkActive="active" routerLink="/add-user">
        <mat-icon aria-hidden="false" fontIcon="device_hub"></mat-icon> Dodaj Użytkownika
      </div>
    </div>
  </div>
</div>
